*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: whitesmoke;
}

h2, h3, h4, h5, h6, p {
    padding-bottom: 8px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}


h1 {
    font-size: 48px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 22px;
}

h6 {
    font-size: 20px;
}

p, ul, ol {
    font-size: 18px;
}

ul, ol {
    margin-left: 32px;
}

.content {
    margin: auto 5% auto 5%;
}

.recipes a {
    text-decoration: none;
    color: orangered;
    font-size: 24px;
    line-height: 2rem;
}

.recipes a:hover {
    color: rgb(135, 36, 0);
}

.hero {
    background-color: skyblue;
    margin: 48px auto;
    width: 90%;
    text-align: center;
    padding: 160px 24px;
    border-radius: 24px;
}

.section {
    background-color: white;
    padding: 48px 48px;
    margin: 48px auto;
    width: fit-content;
    border-radius: 24px;
    box-shadow: 5px 5px 5px gray;
}

.hero_recipe {
    background-color: skyblue;
    margin: auto;
    width: 90%;
    text-align: center;
    padding: 160px 24px;
    border-radius: 24px;
}

.hero_recipe_background {
    background-color: grey;
    padding: 64px 0px;
}

.home {
    display: inline-block;
    text-decoration: none;
    background-color: orangered;
    color: #fff;
    font-size: 24px;
    padding: 16px;
    margin: 16px;
    border-radius: 8px;
}

.home:hover {
    background-color: rgb(135, 36, 0);
}

img {
    width: auto;
    height: 600px;
    display: block;
    margin: -160px auto auto auto;
    border-radius: 24px;
}

.section.ingredients {
    background-color: beige;
    border-radius: 0;
    box-shadow: none;
    border: 2px dashed #000;
}

.section.steps {
    background-color: rgb(0, 0, 64);
    color: #fff;
}