*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: whitesmoke;
}

h1 {
    font-size: 48px;
    font-weight: bold;
}

h2 {
    font-size: 40px;
    font-weight: bold;
}

h3 {
    font-size: 32px;
    font-weight: bold;
}

h4 {
    font-size: 24px;
    font-weight: bold;
}

h5 {
    font-size: 22px;
    font-weight: bold;
}

h6 {
    font-size: 20px;
    font-weight: bold;
}

p {
    font-size: 18px;
}

.recipes a {
    text-decoration: none;
    color: orangered;
    font-size: 24px;
    line-height: 2rem;
}

.recipes a:hover {
    color: rgb(135, 36, 0);
}

.hero {
    background-color: skyblue;
    margin: 48px auto;
    width: 90%;
    text-align: center;
    padding: 160px 24px;
    border-radius: 24px;
}

.section {
    background-color: white;
    padding: 48px 48px;
    margin: 48px auto;
    width: fit-content;
    border-radius: 24px;
    box-shadow: 5px 5px 5px gray;
}

.hero_recipe {
    background-color: skyblue;
    margin: auto;
    width: 90%;
    text-align: center;
    padding: 160px 24px;
    border-radius: 24px;
}

.hero_recipe_background {
    background-color: grey;
    padding: 64px 0px;
}

.home {
    display: inline-block;
    text-decoration: none;
    background-color: orangered;
    color: #fff;
    font-size: 24px;
    padding: 16px;
    margin: 16px;
    border-radius: 8px;
}

.home:hover {
    background-color: rgb(135, 36, 0);
}